<!--begin::List widget 26-->
<div class="card card-flush h-lg-50">
	<!--begin::Header-->
	<div class="card-header pt-5">
		<!--begin::Title-->
		<h3 class="card-title text-gray-800 fw-bold">Enlaces Externos</h3>
		<!--end::Title-->
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-5">
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Section-->
			<a class="btn btn-primary btn-sm px-4" href="https://app.mitiendita.fun">Ir a la Web</a>
			<!--end::Section-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-3"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Section-->
			<a class="btn btn-primary btn-sm px-4" href="https://play.google.com/store/apps/dev?id=5478969507214153334">Descargar desde PlayStore</a>
			<!--end::Section-->
		</div>
		<!--end::Item-->
		<!--begin::Separator-->
		<div class="separator separator-dashed my-3"></div>
		<!--end::Separator-->
		<!--begin::Item-->
		<div class="d-flex flex-stack">
			<!--begin::Section-->
			<a class="btn btn-primary btn-sm px-4" href="https://mitiendita.fun">Ir a la Landing</a>
			<!--end::Section-->
		</div>
		<!--end::Item-->
	</div>
	<!--end::Body-->
</div>
<!--end::LIst widget 26-->
