{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Signup" %}{% endblock %}

{% block content %}

<!--begin::Form-->
<form method="post" class="form w-100" novalidate="novalidate" id="kt_new_password_form">
    {% csrf_token %}
    <!--begin::Heading-->
    <div class="text-center mb-10">
        <!--begin::Title-->
        <h1 class="text-gray-900 fw-bolder mb-3">
            Cambiar su contraseña
        </h1>
        <!--end::Title-->
    </div>
    <!--begin::Heading-->

    <!-- Display errors if any -->
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Display success message -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!--begin::Input Old Password-->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        
        <!--begin::Hint-->
        <h3 class="text mb-4">
            Ingrese su contraseña anterior
        </h3>
        <!--end::Hint-->

        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">    
                {{ form.old_password }}
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <!--end::Input wrapper-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Input Old Password--->

    <!--begin::Input group-->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        <!--begin::Hint-->
        <h3 class="text mb-4">
            Nueva Contraseña
        </h3>
        <!--end::Hint-->

        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">    
                {{ form.new_password1 }}
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <!--end::Input wrapper-->

            <!--begin::Meter-->
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
            <!--end::Meter-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Hint-->
        <div class="text-muted">
            Utilice 8 o más caracteres con una combinación de letras, números y símbolos.
        </div>
        <!--end::Hint-->
    </div>
    <!--end::Input group--->
   

    <!--begin::Input group-->
    <div class="fv-row mb-8" data-kt-password-meter="true">
        <!--begin::Wrapper-->
        <div class="mb-1">
            <!--begin::Input wrapper-->
            <div class="position-relative mb-3">    
                {{ form.new_password2 }}
                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <!--end::Input wrapper-->
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Input group--->

    <!--begin::Action-->
    <div class="d-grid mb-10">
        <button type="submit" id="kt_new_password_submit" class="btn btn-primary">
            Cambiar Contraseña
        </button>
    </div>
    <!--end::Action-->
</form>
<!--end::Form-->

{% endblock content %}
